@import "tailwindcss";

:root {
  --bg-primary: #f8fafc;
  --bg-secondary: #ffffff;
  --text-primary: #0f172a;
  --text-secondary: #475569;
  --border-color: #e2e8f0;
  
  --cat-food: #f97316;
  --cat-transport: #3b82f6;
  --cat-books: #8b5cf6;
  --cat-rent: #ef4444;
  --cat-entertainment: #ec4899;
  --cat-health: #10b981;
  --cat-clothing: #f43f5e;
  --cat-others: #64748b;
}

.dark {
  --bg-primary: #0f172a;
  --bg-secondary: #1e293b;
  --text-primary: #f8fafc;
  --text-secondary: #cbd5e1;
  --border-color: #334155;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.card {
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-color);
}
